// layout
$layout = '.layout-'
$layout_pc = $layout + 'pc'
$layout_tab = $layout + 'tab'
$layout_sp = $layout + 'sp'

// ua
$device_type_pc = '.device-type-pc'
$device_type_tab = '.device-type-tab'
$device_type_sp = '.device-type-sp'

$device_use_touch = '.device-use-touch'
$device_use_mouse = '.device-use-mouse'

// short
$lpc = $layout_pc
$ltab = $layout_tab
$lsp = $layout_sp

$upc = $ua_pc
$utab = $ua_tab
$usp = $ua_sp
