$nojs = '.no-js'

// layout
$layout = '.layout-'
$layout_pc = $layout + 'pc'
$layout_tab = $layout + 'tab'
$layout_sp = $layout + 'sp'

// device
$device_use_touch = '.is-touch'
$device_use_mouse = '.is-mouse'

// short
$lpc = $layout_pc
$ltab = $layout_tab
$lsp = $layout_sp

$dutouch = $device_use_touch
$dumouse = $device_use_mouse
